body {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    background: #4385f5;
    overflow-x: hidden;
    overflow-y: hidden;
}


.infobg {
    text-align: center;
}

.digibytelogo {
    text-align: center;
    font-size: 42px;
}

.text {
    text-align: center;
    padding-top: 30px;
}

#digibutton {
    background-color: #73a4f8;
    border: #73a4f8;
    padding: 12px 12px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    text-align: center;
    margin: 0 auto;
    display: block;
}

#digipriceusd1,
#totaldigis {
    border: #73a4f8;
    color: #222;
    margin: 0 auto;
    display: block;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin-top: 25px;
}
#totaldigis {
    margin-top: 45 px;
}
#total {
    text-align: center;
}
.link {
    color: #FFFFFF;
    text-decoration: none;
    text-align: center;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}
